<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WS_BCC_Autenticacao_UsuarioSoap"/>
                <binding name="WS_BCC_Autenticacao_UsuarioSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://gatlink.com.br/wsbccgeo/WS_BCC_Autenticacao_Usuario.asmx" binding="basicHttpBinding" bindingConfiguration="WS_BCC_Autenticacao_UsuarioSoap" contract="ServiceReference1.WS_BCC_Autenticacao_UsuarioSoap" name="WS_BCC_Autenticacao_UsuarioSoap"/>
            <endpoint address="http://gatlink.com.br/wsbccgeo/WS_BCC_Autenticacao_Usuario.asmx" binding="basicHttpBinding" bindingConfiguration="WS_BCC_Autenticacao_UsuarioSoap1" contract="ServiceReference2.WS_BCC_Autenticacao_UsuarioSoap" name="WS_BCC_Autenticacao_UsuarioSoap1"/>
        </client>
    </system.serviceModel>
</configuration>
